<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property resource="logback.properties"/>
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <withJansi>false</withJansi>
        <encoder>
            <!--<pattern>%d [%t] %p %logger - %m%n</pattern>-->
            <pattern>%d [%thread] %highlight(%-5level) %cyan(%logger{15}) - %highlight(%msg) %n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
    </appender>
    <appender name="LogFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${log.path.prod}/${log.name}.log</File>
        <Append>true</Append>
        <encoder>
            <pattern>%d [%t] %p %logger{0} - %m%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${log.path.prod}/${log.name}-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>${log.size}</maxFileSize>
            <maxHistory>${log.history}</maxHistory>
            <totalSizeCap>${log.total.size}</totalSizeCap>
        </rollingPolicy>
    </appender>

    <appender name="ErrorFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${log.path.prod}/${log.name.error}.log</File>
        <encoder>
            <pattern>%d [%t] %p %logger{0} - %m%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${log.path.prod}/${log.name.error}-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>${log.size}</maxFileSize>
            <maxHistory>${log.history}</maxHistory>
            <totalSizeCap>${log.total.size}</totalSizeCap>
        </rollingPolicy>
    </appender>


    <root level="INFO">
        <appender-ref ref="Console"/>
        <appender-ref ref="LogFile"/>
        <appender-ref ref="ErrorFile"/>
    </root>
</configuration>